<div class="top-subnavigation-bar">
  <div id="patient-detail-header">
    <div id="patient-detail-info">
      <i aria-hidden="true" class="fa fa-lg fa-info"></i>
      <h3>Contractor</h3>
    </div>
  </div>
</div>
<div class="scrollarea-patientdetails">
  <div class="container-table">
    <div class="patient-sidebar table-col">
      <div class="col-xs-12 space_above">
        <h3>Sidebar</h3>
      </div>
    </div>
    <div class="patient-detail-content table-col">
      <div class="col-xs-12 patients-content">
        <div class="row">
          <div clas="navigation-bar">
            <div class="ui-tabview ui-widget ui-widget-content ui-corner-all ui-tabview-top">
              <ul class="ui-tabview-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">

                <li class="ui-state-default ui-corner-top ui-state-active" routerlinkactive="ui-state-active"
                    style="display: inline;">
                  <a routerLink="[/playground']">Personal details</a>
                </li>

                <li class="ui-state-default ui-corner-top" routerlinkactive="ui-state-active" style="display: inline;">
                  <a routerLink="[/playground']">Documents</a>
                </li>
              </ul>
            </div>

          </div>

        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="ui-tabview-panels space_above">

              <div class="container-fluid-disabled patient-details-form">
                <div class="col-xs-12">
                  <div class="row space_below">
                    <div class="function-bar with-border">
                      <button (click)="toggleContextMenu()"
                              class="btn-link-icon right-border ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                              iconpos="right" pbutton="" type="button">
                        <span class="cp-icon icon-08"></span>
                        <span class="ui-button-text ui-c">More</span>
                      </button>
                      <button
                        class="btn-link-icon right-border ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                        iconpos="left" pbutton="" type="button">
                        <span class="cp-icon icon-16"></span>
                        <span class="ui-button-text ui-c">Edit</span>
                      </button>
                      <button
                        class="btn-link-icon right-border ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                        iconpos="left" pbutton="" type="button">
                        <span class="cp-icon icon-15"></span>
                        <span class="ui-button-text ui-c">Update</span>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12">
                  <div class="row space_below form-row">
                    <div class="col-xs-3 col-md-3 col-lg-2"><label class="ui-widget">Last Name</label></div>
                    <div class="col-xs-6 col-md-6 col-lg-4"><span>Lindow</span></div>
                  </div>
                  <div class="row space_below form-row">
                    <div class="col-xs-3 col-md-3 col-lg-2"><label class="ui-widget">First Name</label></div>
                    <div class="col-xs-6 col-md-6 col-lg-4"><span>Anna</span>
                    </div>
                  </div>
                  <div class="row space_below form-row">
                    <div class="col-xs-3 col-md-3 col-lg-2"><label class="ui-widget">Birthdate</label></div>
                    <div class="col-xs-6 col-md-6 col-lg-4"><span>25.07.1981</span></div>
                  </div>
                  <div class="row space_below form-row">
                    <div class="col-xs-3 col-md-3 col-lg-2"><label class="ui-widget">Gender</label></div>
                    <div class="col-xs-6 col-md-6 col-lg-4"><span>female</span></div>
                  </div>
                </div>
                <div class="divider"></div>

                <div class="col-xs-12">
                  <div class="row space_below form-row">
                    <div class="col-xs-3 col-md-3 col-lg-2"><label class="ui-widget">Address</label></div>
                    <div class="col-xs-6 col-md-6 col-lg-4"><span>Reiterweg 234</span></div>
                  </div>
                  <div class="row space_below form-row">
                    <div class="col-xs-3 col-md-3 col-lg-2"><label class="ui-widget">Postal Code</label></div>
                    <div class="col-xs-6 col-md-6 col-lg-4"><span>8005</span></div>
                  </div>
                  <div class="row space_below form-row">
                    <div class="col-xs-3 col-md-3 col-lg-2"><label class="ui-widget">City</label></div>
                    <div class="col-xs-6 col-md-6 col-lg-4"><span>Zürich</span></div>
                  </div>
                  <div class="row space_below form-row">
                    <div class="col-xs-3 col-md-3 col-lg-2"><label class="ui-widget">Country</label></div>
                    <div class="col-xs-6 col-md-6 col-lg-4"><span>Switzerland</span></div>
                  </div>
                </div>
                <div class="divider"></div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="contextMenuVisible"
     class="context-menu ui-menu ui-widget ui-widget-content ui-corner-all ui-helper-clearfix ui-menu-dynamic ui-shadow"
     style="z-index: 1041; display: block; top: 229px; left: 365px;">

  <ul id="ui-id-184" class="ui-menu-list ui-helper-reset">
    <li class="ui-menuitem ui-widget ui-corner-all" (click)="hideContextMenu()">
      <span>Return Order</span>
    </li>
    <li class="ui-menuitem ui-widget ui-corner-all" (click)="hideContextMenu()">
      <span>Set Due Date</span>
    </li>
    <li class="ui-menuitem ui-widget ui-corner-all" (click)="hideContextMenu()">
      <span>Cancel Order</span>
    </li>
    <li class="menu-divider ui-menuitem ui-widget ui-corner-all"></li>
    <li class="ui-menuitem ui-widget ui-corner-all" (click)="hideContextMenu()">
      <span>Upload document</span>
    </li>
    <li class="ui-menuitem ui-widget ui-corner-all" (click)="hideContextMenu()">
      <span>Add Note</span>
    </li>
  </ul>
</div>
