<div class="ui-g" style="margin-top: 200px;">
  <div class="ui-g-3"></div>
  <div class="ui-g-6">
    <p-messages [value]="messages"></p-messages>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            User Name:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText name="userName" [(ngModel)]="username" type="text" />
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Password:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText name="password" [(ngModel)]="password" type="password" />
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2"></div>
          <div class="ui-grid-col-6">
            <button pButton type="button" (click)="login()" class="btn-primary" label="Log In"></button>
          </div>
          <div class="ui-grid-col-4"></div>
        </div>
      </div>
  </div>
  <div class="ui-g-3"></div>
</div>
