<div class="ui-menu ui-megamenu" (mouseenter)="showSubMenu()" (mouseleave)="hideSubMenu()">
  <ul class="ui-menu-list ui-helper-reset">
    <li class="ui-menuitem">
      <a class="ui-menuitem-link">
        <span class="ui-submenu-icon fa fa-fw fa-caret-down"></span>
        <span class="avatar ui-menuitem-text"><i class="fa fa-user" aria-hidden="true"></i></span>
        <span>{{ userName }}</span>
      </a>
      <div *ngIf="subMenuActive" class="ui-megamenu-panel ui-menu-list">
        <ul class="ui-menu-list ui-helper-reset">
          <li *ngIf="!loggedIn" class="ui-menuitem">
            <a (click)="itemClick(['/login'])" class="ui-menuitem-link">
              <span class="ui-menuitem-icon fa fa-fw fa-sign-in"></span>
              Log In
            </a>
          </li>
          <li *ngIf="loggedIn" class="ui-menuitem">
            <a (click)="itemClick(['/logout'])" class="ui-menuitem-link">
              <span class="ui-menuitem-icon fa fa-fw fa-sign-out"></span>
              Log Out
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
