// ------------------------
// UI Styleguide Name: CUR
// Version: 1.0
// ------------------------
// Accordion
// ------------------------


// Variables
// ------------------------

$acc-header-h: 50px;

// Resets
// ------------------------
.ui-accordion .ui-accordion-header {
	margin-top: 0;

	a:hover, a:focus {
		text-decoration: none;
	}

	.fa {
		right: $padding-md;
		left: auto;
	}

	.fa-caret-right:before {
		content: "\49";
	}

	.fa-caret-down:before {
		content: "\6d";
	}
	
}

// Styling
// ------------------------
.ui-accordion .ui-accordion-header {
	background-color: $acc-header-background;
	border-top: 1px solid $color-separator;
	padding: 0 $padding-md;
	height: $acc-header-h;
	font-weight: 500;

	a {
    font-size: 13px;
    padding: 0;
    line-height: $acc-header-h;
    color: $color-brand;
	}

	.fa {
		color: $color-brand;
		font-size: 10px;
	}
}

.ui-accordion .ui-accordion-content {
	@include BodyText();
	background-color: $acc-header-background;
	margin: 0;
	top: 0;
	padding: $padding-sm $padding-md $padding-tb-txt $padding-md;
}