// ------------------------
// UI Styleguide Name: CUR
// Version: 1.0
// ------------------------
// Bootstrap Overrides
// ------------------------

// Removing border
@mixin NoBorder() {
	border: none !important
}

// Removing border radius
@mixin NoRadius() {
	border-radius: 0px !important
}

// Removing the box shadow
@mixin NoShadow() {
	box-shadow: none !important
}

// Buttons
.btn {
	@include NoBorder();
}

.btn-link-icon {
	&:hover, &:focus {
		&.right-border {
			border-right: 1px solid $color-separator !important;
		}
	}
}

.btn-left-align-text span {
	padding: .3em 0 !important;
}

// Buttons in Input group: should not be glued together
.input-group-btn > .btn+.btn {
	margin-left: 2px;
}

// Input group
.input-group {
	@include FlexContainer();

	input[type="text"] {
		@include Flex();
	}
}

// Override the width: 1% that breaks the flexbox
.input-group-addon, .input-group-btn {
	width: auto;
}

// Override the display: inline-table that breaks the flexbox
.form-inline .input-group {
	@include FlexContainer();
}

// Form control should be less high, because the buttons have no border
.form-control {
	height: 32px;
}

// No gutter
@mixin NoGutter() {
	padding-left:0;
	padding-right:0;
}

// Negative Margin
@mixin NegativeMargin() {
  margin-left: -15px;
  margin-right: -15px;
}
