// ------------------------
// UI Styleguide Name: CUR
// Version: 1.0
// ------------------------
// Buttons
// ------------------------


// Variables
// ------------------------
$btn-min-w: 100px;
$btn-right-spacing: 8px;

// Resets
// ------------------------
.ui-button {
	margin: 0 $btn-right-spacing $margin-sm 0;
	padding: 0 $padding-md;
}

// Styling
// ------------------------
.ui-button {
	border-radius: 0;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	height: 35px;
	overflow: visible;
	vertical-align: middle;
	white-space: nowrap;
	width: auto;
}

.btn-default {
	background-color: $btn-def-background;
	border: 1px solid $color-separator;
	color: $color-text;

	&:hover, &:focus {
		background-color: $btn-def-background-hover;
		border-color: $color-separator;
	}
}

.btn-primary {
	background-color: $color-brand;
	border: 1px solid $color-brand;
	color: $color-white;

	&:hover, &:focus {
		background-color: $color-active;
		border-color: $color-active;
	}
	&.ui-state-hover {
		color: $color-white;
	}
	&.ui-state-focus {
		color: $color-white;
	}
	&.right {
		float:right;
	}
}

.btn-secondary {
	background-color: $color-white;
	border: 1px solid $color-separator;
	color: $color-text;

	&:hover, &:focus {
		background-color: $color-btn-sec-background;
	}
}

.btn-link {
	padding: 0;
	background-color: transparent;
	border: 1px solid transparent;
	color: $color-link;
	height: auto;

	&:hover, &:focus {
		background-color: transparent;
		border-color: transparent;
		box-shadow: none;
		color: $color-brand;
	}
}

.btn-link-icon {
	background: transparent;
	border: 0;
	margin: 0;
	color: $color-link;

	&:hover, &:focus {
		background: transparent;
		box-shadow: none;
		color: $color-brand;
	}

	.ui-button-text {
		display: inline;
		padding-left: $padding-sm;
	}

	.cp-icon {
		font-size: 10px;
	}

	&.right-border {
		border-right: 1px solid $color-separator;
	}
}

.ui-button[disabled] {
	cursor: not-allowed !important;
}
