// ------------------------
// UI Styleguide Name: CUR
// Version: 1.0
// ------------------------
// Checkboxes
// ------------------------

// Variables
// ------------------------
$checkbox-w: 16px;

// Resets
// ------------------------
.ui-chkbox .ui-chkbox-box {
	@include FlexContainer();
	width: $checkbox-w;
	height: $checkbox-w;
	border: 1px solid $color-separator;
	-webkit-border-radius: 0;
					border-radius: 0;
}

.ui-chkbox {
	display: block;
}

// Styling
// ------------------------
.checkbox-wrap {
	label {
		width: auto;
		padding: 0 0 0 $padding-sm;
	}
}