// ------------------------
// UI Library Name: CUR
// Version: 1.0
// ------------------------
// Colors
// ------------------------

$color-brand: #006487;
$color-text: #14130e;
$color-link: #0079a4;
$color-hover: #004C66;
$color-focus: #007da8;
$color-active: #004C66;
$color-disabled: #E3E3E3;
$color-dark: #14130e;

$color-error: #C22800;
$color-error-lighten: #FED1C9;
$color-info: #3A87AD;
$color-info-lighten: #D9EDF7;
$color-warning: #DCB400;
$color-warning-lighten: #FAF4CC;
$color-ok: #20A000;
$color-danger: #C22800;

$color-profile-settings: #007198;
$color-profile-settings-submenu: #007DA8;
$color-profile-settings-submenu-hover: #006487;
$color-profile-settings-text: #FFFFFF;

$patient-sidebar-background: #F9F9F8;

$color-section: #FFFFFF;
$color-section-header: #E4E6E3;
$color-body-background: #F9F9F8;
$color-separator: #D1D2CE;
$color-separator-light: #EFEFEF;
$color-white: #FFFFFF;
$color-border-light: #d3d3d3;
$color-border-dark: #717171;
$color-dark-background: #3A3A3A;

$color-mpi-local-data: #C22800;
$color-mpi-mpi-data: #20A000;
$color-match-mpi-mpi-data: #707070;

$even-row-background: #F4F4F4;
$odd-row-background: #FFFFFF;
$icon-default-state-color: #CCCCCC;
$row-highlighted: #E5EFF3;

$color-paginator-border: #D1D2CE;
$color-paginator-background: #FFFFFF;
$color-paginator-text: #14130e;
$color-paginator-text-disabled: #D1D2CE;

$text-input-focus: #006487;

$datepicker-background: #F9F9F8;
$datepicker-default-clickable-col: #0C88D4;
$datepicker-default-clickable-hiver-col: #007da8;
$datepicker-ui-widget-content-border-color: #d3d3d3;
$datepicker-ui-widget-text-color: #555555;
$datepicker-btn-pane-bg-color:#E4E6E3;
$datepicker-btn-pane-bg-color-hover:#DCDCDC;

$maincontent-background: #FFFFFF;

$dashboard-background: #FFFFFF;
$dashboard-widget-background: #FFFFFF;
$dashboard-widget-header-background: #E4E6E3;
$dashboard-widget-border-bottom-col: #CDCDCD;

$context-menu-background: #FFFFFF;
$context-menu-item-hover: #E5EFF3;

$color-ui-datatable-highlight:#f2f2f2;

$btn-def-background: #E4E6E3;
$btn-def-background-hover: #DCDCDC;
$color-btn-sec-background: #EFEFED;

$acc-header-background: #F9F9F8;
