body {
  color: whitesmoke;
  overflow-y: scroll;
  -ms-overflow-style: scrollbar;
  margin: 0px;
}

a {
    cursor: pointer;
}

.navigation {
  width: 250px;
  float: left;
  overflow: hidden;
}

.content {
  width: auto;
  overflow: hidden;
  z-index: 1;
  margin-left: 250px;

}

.with_navigation {
  left: 316px;
  margin-top: 15px;
}

.ui-datepicker {
  background: $color-white;
  -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
  box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
}

.ui-chkbox .ui-chkbox-box {
  background-color: $color-white;
  border: 1px solid;
}

.vitalstatus-symbol {
  display: inline-block;
  width: 14px;
}

hr {
  border-bottom: 1px dashed $color-separator;
}

.space_above {
  margin-top: 10px;
}
.space_below {
  margin-bottom: 10px;
}
.zero-height {
  height: 0;
}

.ui-datatable tr.ui-state-highlight {
  background-color:$color-dark-background;
  color: $color-ui-datatable-highlight;
}

.gender_sign {
  color: $color-white;
  text-align: center;
  line-height: 33px;
  font-size: 19px;
  font-weight: bold;
}

.loading {
  position:absolute;
  top:0;
  bottom:0;
  width: 100%;
  z-index: 10;
}
.loadingCenter {
  top:50%;
  left: 50%;
  position: absolute;
  z-index:11;
}
.loadingDialog {
  position: relative;
  width: 300px;
  margin-left: -150px;
  height: 100px;
  margin-top: -100px;
  z-index: 12;
  background-color: $color-white;
  border-radius: 40px;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
}
.waitInfoBg {
  background: $color-dark;
  position:fixed;
  top:0;
  bottom:0;
  width: 100%;
  z-index: 10;
  opacity:0.3;
  display: flex;
}
.waitInfo {
  background-image: url(/assets/waitImg.gif);
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  position: fixed;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
}

.ui-accordion .ui-accordion-content {
  overflow: hidden;
}

.ui-dialog {
  top: 60px !important;
}
.ui-widget-overlay {
  background: $color-dark;
  opacity: 0.6;
}

.ui-widget-content {
  background: $color-white;
}

.grid-placeholder {
  background-color: $color-disabled;
  text-align: center;
  padding: 12px;
  border: 1px dashed;
}

.table-button-icon {
  font-size: 18px;
}

.no-results-message {
  padding: 0 0 24px 0;
}

.data-differs-from-mpi{
  font-style: italic;
  color: $color-mpi-local-data;
}

.data-differs-from-mpi-mpi{
  font-style: italic;
  color: $color-mpi-mpi-data;
}

.data-match-in-mpi-mpi{
  color: $color-match-mpi-mpi-data;
}


