// ------------------------
// UI Styleguide Name: CUR
// Version: 1.0
// ------------------------
// Menu
// ------------------------

// Variables
// ------------------------
$context-menu-w: 230px;

// Resets
// ------------------------
.ui-menu-dynamic {	
	&.ui-menu {
		padding: 0;
		width: $context-menu-w;
		background-color: $context-menu-background;
	}

	&.ui-menu .ui-menu-list .ui-widget-header {
		float: none;
		width: 100%;
	}

	&.ui-menu .ui-menuitem {
		margin: 0;
		padding: $padding-md;

		&:hover {
			cursor: pointer;
			background-color: $context-menu-item-hover;
		}
	}
}

// Styling
// ------------------------
.ui-menu-dynamic {
	@include LightShadow();
	border: 1px solid $color-separator;

	.ui-menuitem.menu-divider {
		height: 1px;
		background-color: $color-separator;
		line-height: 1px;
		padding: 0;
		width: 100%;
	}
}