@font-face {
  font-family: 'cp-iconfont-2016-03-01';
  src:    url('fonts/cp-iconfont-2016-03-01.eot?j52ylq');
  src:    url('fonts/cp-iconfont-2016-03-01.eot?j52ylq#iefix') format('embedded-opentype'),
  url('fonts/cp-iconfont-2016-03-01.ttf?j52ylq') format('truetype'),
  url('fonts/cp-iconfont-2016-03-01.woff?j52ylq') format('woff'),
  url('fonts/cp-iconfont-2016-03-01.svg?j52ylq#cp-iconfont-2016-03-01') format('svg');
  font-weight: normal;
  font-style: normal;
}

.cp-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cp-iconfont-2016-03-01' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /*line-height: 1;*/

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-01:before {
  content: "\41";
}
.icon-02:before {
  content: "\42";
}
.icon-03:before {
  content: "\43";
}
.icon-04:before {
  content: "\44";
}
.icon-05:before {
  content: "\45";
}
.icon-06:before {
  content: "\46";
}
.icon-07:before {
  content: "\47";
}
.icon-08:before {
  content: "\48";
}
.icon-09:before {
  content: "\49";
}
.icon-10:before {
  content: "\4a";
}
.icon-11:before {
  content: "\4b";
}
.icon-12:before {
  content: "\4c";
}
.icon-13:before {
  content: "\4d";
}
.icon-14:before {
  content: "\4e";
}
.icon-15:before {
  content: "\4f";
}
.icon-16:before {
  content: "\50";
}
.icon-17:before {
  content: "\51";
}
.icon-18:before {
  content: "\52";
}
.icon-19:before {
  content: "\53";
}
.icon-20:before {
  content: "\54";
}
.icon-21:before {
  content: "\55";
}
.icon-22:before {
  content: "\56";
}
.icon-23:before {
  content: "\57";
}
.icon-24:before {
  content: "\58";
}
.icon-25:before {
  content: "\59";
}
.icon-26:before {
  content: "\5a";
}
.icon-27:before {
  content: "\61";
}
.icon-28:before {
  content: "\62";
}
.icon-29:before {
  content: "\63";
}
.icon-30:before {
  content: "\64";
}
.icon-31:before {
  content: "\65";
}
.icon-32:before {
  content: "\66";
}
.icon-33:before {
  content: "\67";
}
.icon-34:before {
  content: "\68";
}
.icon-35:before {
  content: "\69";
}
.icon-36:before {
  content: "\6a";
}
.icon-37:before {
  content: "\6b";
}
.icon-38:before {
  content: "\6c";
}
.icon-39:before {
  content: "\6d";
}
.icon-40:before {
  content: "\6e";
}
.icon-41:before {
  content: "\6f";
}
.icon-42:before {
  content: "\70";
}
.icon-43:before {
  content: "\71";
}
.icon-44:before {
  content: "\72";
}
.icon-45:before {
  content: "\73";
}
.icon-46:before {
  content: "\74";
}
.icon-47:before {
  content: "\75";
}
.icon-48:before {
  content: "\76";
}
.icon-49:before {
  content: "\77";
}
.icon-50:before {
  content: "\78";
}
.icon-51:before {
  content: "\79";
}
.icon-52:before {
  content: "\7a";
}
.icon-53:before {
  content: "\30";
}
.icon-54:before {
  content: "\31";
}
.icon-55:before {
  content: "\32";
}
.icon-56:before {
  content: "\33";
}
.icon-57:before {
  content: "\34";
}
.icon-58:before {
  content: "\35";
}
.icon-59:before {
  content: "\36";
}
.icon-60:before {
  content: "\37";
}
.icon-61:before {
  content: "\38";
}
.icon-62:before {
  content: "\2b";
}
.icon-63:before {
  content: "\2a";
}
.icon-64:before {
  content: "\28";
}
.icon-65:before {
  content: "\29";
}
.icon-66:before {
  content: "\21";
}
.icon-67:before {
  content: "\2d";
}
.icon-68:before {
  content: "\22";
}
.icon-69:before {
  content: "\3b";
}
.icon-70:before {
  content: "\3a";
}
.icon-71:before {
  content: "\2e";
}
.icon-72:before {
  content: "\5b";
}
.icon-73:before {
  content: "\5d";
}
.icon-74:before {
  content: "\23";
}
.icon-75:before {
  content: "\25";
}
.icon-76:before {
  content: "\26";
}
.icon-77:before {
  content: "\2f";
}
.icon-78:before {
  content: "\5c";
}
.icon-79:before {
  content: "\3c";
}
.icon-80:before {
  content: "\3e";
}
.icon-81:before {
  content: "\3d";
}
.icon-82:before {
  content: "\3f";
}
.icon-83:before {
  content: "\5f";
}
.icon-84:before {
  content: "\2c";
}
.icon-85:before {
  content: "\7b";
}
.icon-86:before {
  content: "\7d";
}
.icon-87:before {
  content: "\39";
}
.icon-88:before {
  content: "\b1";
}
.icon-89:before {
  content: "\201c";
}
.icon-90:before {
  content: "\e4";
}
.icon-91:before {
  content: "\f6";
}
.icon-92:before {
  content: "\fc";
}
.icon-93:before {
  content: "\2013";
}
.icon-94:before {
  content: "\2026";
}

