// ------------------------
// UI Styleguide Name: CUR
// Version: 1.0
// ------------------------
// Dashboard
// ------------------------

// Variables
// ------------------------
$dashboard-padding: 8px;


// Resets
// ------------------------
.dashboard.container-fluid {
  margin-right: auto;
  margin-left: auto;
  /*padding: 0 $dashboard-padding $padding-lg $dashboard-padding;*/
  margin-bottom: 50px;
}

// Styling
// ------------------------
.dashboard {
  background: $dashboard-background;
}

.dashboard-configure-options {
  text-align: right;
}

.dashboard-widget {
  background: $dashboard-widget-background;
  border: 1px solid $color-separator;
  border-bottom: 2px solid $dashboard-widget-border-bottom-col;
  .ui-datatable-tablewrapper {
    padding: 0 15px;
  }
  .ui-calendar {
    width: inherit;
  }
  &.grid-item {
    overflow: hidden;
  }
}

.dashboard-widget-header {
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  background-color: $dashboard-widget-header-background;
  color: $color-text;
  padding: $padding-md $cur-padding-gutter;
  position: absolute;
  width: 100%;
  z-index: 1;
}

leportalmostrecentlyviewedpatientswidget,
lePortalMostRecentlyViewedPatientsWidget,
lePortalMyIssuesWidget,
lePortalMyOrdersWidget,
leportalsearchlocalwidget {
  height: 93%;
  width: 100%;
  overflow-y: auto;
  display: inline-block;
  padding-top: 30px;
  margin-top: 20px;
  position: relative;
  top: 20px;
}

.dashboard-widget-overlay {
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}

.dashboard-header-editMode {
  background-color: $color-warning;
  margin: 10px;
  padding: 10px;

  span, button, h2 {
      margin-right: 10px;
    }

  span {
      font-size: 18px;
    }

  h2 {
      display: inline;
    }
}

.dashboard-button {
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

.overdue {
  color: $color-error;
}

.profileActive {
  border-bottom: 3px solid $color-active;
}

.profileDropdown {
  line-height: 20px;
}

.ui-tabview {
  .ui-tabview-nav {
    li.ui-dropdown-item {
      line-height: 20px;
      float: none;
    }
  }
}

.dashboard-header-editMode {
  display: flex;
  padding: 0;
  background-color: $color-warning-lighten;
  border: 1px solid $color-warning;
  height: 60px;
  & > span {
    background-color: $color-warning;
    color: $color-text;
    border: $color-warning;
    display: flex;
    padding: 0;
    width: 60px;
    position: relative;
    &.fa-warning {
      font-size: 2em;
      color: $color-white;
    }
    &.fa-warning:before {
      content: "\F071";
      transform: translateX(-50%) translateY(-50%);
      top: 50%;
      left: 50%;
      position: absolute;
    }
  }
  p {
    margin-top: 22px;
    line-height: 1;
    flex-grow: 2;
  }
  button {
    position: relative;
    top: 11px;
  }
}

.show-all {
  margin-left: 15px;
}

#searchPatientsWidget {
  p-calendar, input { width: 100%; }
  padding-left: 30px;
}

#addWidgetModal {
  .ui-dialog-content {
    margin: 10px 0;
  }
  footer {
    margin-top: 10px;
  }
}

// Responsive styles
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

  // Dashboard
  // Widgets styles
  #searchPatientsWidget {
    button[type=submit] {
      display: block;
      margin-left: 0;
    }
  }
}
