// ------------------------
// UI Styleguide Name: CUR
// Version: 1.0
// ------------------------
// Calendar
// ------------------------

// Variables
// ------------------------
$datepicker-w: 300px;


// Resets
// ------------------------
.ui-datepicker {
  @include FlyoutShadow;
  width: $datepicker-w;
  padding: 0;
}


.ui-datepicker .ui-datepicker-header {
  background: $datepicker-background;
  border: 1px solid $color-separator;
  margin: $margin-md;
  padding: $padding-sm;
}

.ui-datepicker table {
  width: calc(100% - #{$padding-lg});
  font-size: 13px;
  border: 1px solid $color-separator;
  margin: $margin-md;

  th, td {
    background: $datepicker-background;
    padding: $padding-sm;

    a {
      color: $datepicker-default-clickable-col;
    }
  }
}

// Weekdays
.ui-datepicker th {
  padding: .7em .3em;
  text-align: right;
  font-weight: normal;
  text-transform: uppercase;
}

.ui-calendar button {
  min-width: 40px;
  background: transparent;
  right: 0px;
  border: 0;
  padding: 0;
  margin: 0;

  &:focus {
    outline: none;
  }

  .fa-calendar:before {
    content: "\45";
  }

  .ui-button-text {
    display: none;
  }
}

// Styling
// ------------------------

// Datepicker arrows
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  top: auto;
}

// Datepicker Icons w/ CuraPrax
.ui-icon {
  color: $color-brand;
  width: 13px;
  display: block;
  text-indent: inherit;

  &:hover {
    color: $datepicker-default-clickable-hiver-col;
    cursor: pointer;
  }
}

// Previous
.ui-datepicker .ui-datepicker-prev {
  left: auto;

  .ui-icon {
    @include CuraPraxFont;

    &:before {
      content: "\6f";
    }
  }
}

// Next
.ui-datepicker .ui-datepicker-next {
  right: $padding-sm;

  .ui-icon {
    @include CuraPraxFont;

    &:before {
      content: "\6e";
    }
  }
}

.ui-timepicker-div {
  margin: 0 12px;
  dl {
    dt {
      float: left;
      clear: left;
      padding: 0 0 0 5px;
    }
    dd {
      margin: 0 10px 10px 40%;
    }
  }
  .ui_tpicker_time {
    background: none;
    color: inherit;
    border: none;
    outline: none;
    border-bottom: solid 1px #555;
  }
  .ui-corner-all {
    border-radius: 4px;
  }
  .ui-widget-content {
    border: 1px solid $datepicker-ui-widget-content-border-color;
    font-weight: normal;
    color: $datepicker-ui-widget-text-color;
  }

  .ui-slider-handle {
    border: 1px solid $datepicker-ui-widget-content-border-color;
    font-weight: normal;
    color: $datepicker-ui-widget-text-color;
    background: $datepicker-btn-pane-bg-color url("/assets/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
  }
}
.ui-datepicker-buttonpane.ui-widget-content {
  margin: 0 12px;
  button {
    background-color: $datepicker-btn-pane-bg-color;
    border: 1px solid $datepicker-ui-widget-content-border-color;
    color: #14130e;
  }
  button:hover {
    background-color: $datepicker-btn-pane-bg-color-hover;
    border-color: $datepicker-ui-widget-content-border-color;
  }
}

// CUR project right align icon inside picker field
input.hasDatepicker {
    width: 100%;
}

span .fa.fa-calendar {
  left: auto;
  right: 5px;
}
