// ------------------------
// UI Styleguide Name: CUR
// Version: 1.0
// ------------------------
// Dialog
// ------------------------

// Variables
// ------------------------
$max-height-of-dialog: 90%;

// Resets
// ------------------------
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-shadow.ui-dialog-draggable {
  overflow-y:auto;
  max-height: $max-height-of-dialog;
}

.ui-dialog {
    .ui-dialog-content.ui-widget-content {
        overflow-x: hidden;
        padding: $padding-md $padding-md;
    }
  form {
    textarea {
      width: 100%;
    }
    textarea:invalid {
      box-shadow: none;
    }
  }
}
