// ------------------------
// UI Styleguide Name: CUR
// Version: 1.0
// ------------------------
// Forms
// ------------------------

// Variables
// ------------------------

// Styling
// ------------------------
input {
	width: 100%;
	border: 1px solid $color-separator;

	&:focus {
		border: 1px solid $text-input-focus;
	}
}

textarea {
	width: 100%;
	height: 200px;
}

div.ui-chkbox-box.ui-state-focus {
	border: 1px solid $text-input-focus;
}
// Input Wrappers
.input-wrap { // General wrapper
	display: inline-block;
	margin-bottom: $margin-sm;

	label {
		display: inline-block;
	}

	input[type="text"], textarea {
		display: block;
	}

	button:last-child {
		margin-bottom: 0;
	}
}

.input-wrap-horiz { // General wrapper for horizontal forms (input right from the label)
	label {
		width: $label-container-width;
		padding-right: $padding-sm;
	}

	input[type="text"], textarea {
		display: inline-block;
	}

	.main-form-btn {
		width: $min-input-width;
		margin-left: $label-container-width + $padding-xs ;
	}
}

.input-wrap-cur { // Wrapper for CUR forms: label (150px) + long input field (~300px)
	margin-bottom: $margin-sm;

	label {
		width: $label-container-width;
		padding-right: $padding-sm;
	}

	input[type="text"], textarea {
		min-width: $input-width;
		border: 1px solid $color-separator;

		&:focus {
			border: 1px solid $text-input-focus;
		}
	}
}

.create-patient input:not(.hasDatepicker):not(.ui-dropdown-filter) { // should be changed with "input-wrap-cur" wrapper together w/ the label
  // min-width: $input-width;
}

// Dropdown
.ui-dropdown {
	width: 100%;
	min-width: 100%;
}

// Dropdown
.ui-multiselect {
	width: 100%;
	min-width: 100%;
}

// Datepicker
form span.ui-calendar {
	width: 100%;
}

// Textarea Wrapper
.text-area-wrap {
	@include FlexContainer();
	@include AlignItems(flex-start);
}

// Flexbox Wrapper
.flex-input-wrap {
	@include FlexContainer();
	@include AlignItems();
}

// Required fields
.required-input label:after {
	margin-left: $margin-xs;
	content: "*";
}

// Dividers
.divider {
	height: 1px;
	width: 100%;
	display: inline-block;
	background-color: $color-separator-light;
	margin: $margin-md 0;
}

.input-wrap + .divider {
	width: $input-width + $label-container-width;
}

// Spacers
.checkbox-spacer {
	margin-top: 11px;
}

// Read-only view
.read-only-view {
	@include FlexContainer();
	@include AlignItems();
	margin-bottom: $margin-sm;

	.attr {
		@include Flex();
		padding-right: $padding-sm;
	}

	.val {
		@include Flex(2);
	}
}

input:invalid {
	box-shadow: none;
}
