// ------------------------
// UI Styleguide Name: CUR
// Version: 1.0
// ------------------------
// Radio Buttons
// ------------------------

// Variables
// ------------------------
$curPlHeaderH: 60px;
$index-padding: 20px;
$component-holder-padding: 20px;


// Styling
// ------------------------
.container-fluid.styleguide-wrapper {
	position: relative;
	margin-left: -15px;
	margin-right: -15px;

	.cur-header {
		margin-left: 0;
		margin-right: 0;
	}
}

// Index(Table of contents)
.cur-styleguide-index {
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  background-color: $color-body-background;
  border-right: 1px solid $color-brand;
  padding:  $index-padding $index-padding $index-padding * 2 $index-padding;

  h5 {
      text-transform: uppercase;
      color: $color-text;
  }

  ul {
    margin: $margin-sm 0 $margin-lg 0;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: $margin-xs;
    }
  }
}

// Component holder
.cur-styleguide-component-holder {
	margin-left: calc(16.66666667% + 1px); // 1px for the border of the index
    padding-top: $component-holder-padding;
}


/* Sections */
section {
	clear: both;

	&.first-lvl-section {
		margin-bottom: $margin-lg;
		padding: 0 $padding-md $padding-lg $padding-md ;
	}

	&.sec-lvl-section {
		margin-bottom: 40px;
	}

	&.first-lvl-section > h1 {
		margin-top: 0px !important;
	}

	&.first-lvl-section > h1.notabs {
		margin-top: 20px !important;
	}

	&.first-lvl-section section:last-child {
		margin-bottom: 0px !important;
	}

	.first-lvl-title {
		margin-left: -26px;
		margin-bottom: $margin-lg;
		padding-left: $padding-sm;
		border-left: 12px solid $color-brand;
	}

	.first-lvl-title + .sec-lvl-title {
		margin-top: 0;
	}

	.sec-lvl-title {
		margin-top: $margin-md;
	}

/* 	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 24px;
	} */

	h3 {
		font-size: 18px;
		margin-bottom: 9px;
	}

	> h5 {
		font-weight: bold;
		font-size: 16px;
		margin-bottom: 9px;
	}

	> h1, > h2, > h3, > h4, > h5 {
		//color: $darkGrey;
    }
}

// Inputs
#cur-styleguide-text-inputs, #cur-styleguide-validation,
#cur-styleguide-tooltip, #cur-styleguide-divider {
	input[type="text"], textarea {
		width: 100%;
		min-width: inherit;
	}
}

/* Icon Gallery */
.icon-galery {
	padding: 0px;
	list-style: none;
	clear: both;

	li {
		display: table-cell;
		width: 115px;
		font-size: 12px;
		float: left;
		height: 115px;
		//padding: $paddingLR;
		line-height: 1.4;
		text-align: center;
		background-color: $color-body-background;
		border: 1px solid $color-white;

		.icons {
			font-size: 18px;
			//margin-bottom: $marginTB;
		}

		span {
			display: block;
		}
	}
}

// Example modal
.cur-styleguide-example-modal .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
}

// Color Palette
.cur-styleguide-color-palette {
	list-style: none;
	padding: 0;

	li {
		width: 170px;
		height: 70px;
		display: inline-block;
		margin-bottom: $margin-lg;

		&:last-child {
			margin-bottom: 0;
		}
	}

	span {
		display: block;
		background: #EFEFEF;
		padding: 0 $padding-xs;
		font-size: 12px
	}
}

$colors:
	$color-brand,
	$color-text,
	$color-link,
	$color-hover,
	$color-active,
	$color-error,
	$color-error-lighten,
	$color-info,
	$color-info-lighten,
	$color-warning,
	$color-warning-lighten,
	$color-profile-settings,
	$color-profile-settings-submenu,
	$color-section,
	$color-section-header,
	$color-body-background,
	$color-separator;


@for $i from 1 through length($colors) {
	.cur-styleguide-color-palette li:nth-child(#{length($colors)}n+#{$i}) {
		background: nth($colors, $i);

		span.color-name {
			content: "`nth($colors, $i)`";
		}
	}
}
