// ------------------------
// UI Styleguide Name: CUR
// Version: 1.0
// ------------------------
// Layout
// ------------------------
// Variables
// Styling
// ------------------------

body {
    min-width: 1024px;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

div.leportal.notInIframe {
    padding-top: $top-bar-height;
}

.maincontent {
    overflow-y: auto;
    background-color: $maincontent-background;
}
// Padded Holder
.padded-holder {
    // like container from bootstrap
    padding-left: $padding-md;
    padding-right: $padding-md;
}
// Override col padding
.container-no-padding {
    padding-left: 0;
    padding-right: 0;
}

.row {
    .col-no-padding {
        padding-left: 0;
        padding-right: 0;
    }

    .col-no-left-padding {
        padding-left: 0;
    }
}
// Function Bar
.function-bar {
    margin-bottom: $margin-sm;
    margin-top: $margin-sm;

    &.with-border {
        border: 1px solid $color-separator;
    }
}
// Table Row
.container-table {
    display: table;
    width: 100%;
}

.table-col {
    display: table-cell;
    float: none;
}

.table-row {
    display: table-row;

    > * {
        //float: none -> this causes problems in IE
        display: table-cell;
    }
}
