.ui-messages {
	display: flex !important;
	padding: 0;
	.ui-messages-close {
		right: 10px;
	}
	span {
		padding: 30px;
		color: $color-white;
		margin: 0;
		width: 60px;
		position: relative;
		&.fa-info-circle:before,
		&.fa-warning:before,
		&.fa-close:before {
			transform: translateX(-50%) translateY(-50%);
			top: 50%;
			left: 50%;
			position: absolute;
		}
	}
	ul {
		padding: 20px 5px;
		margin: 0 15px;
		li span {
		color: $color-text;
		font-weight: 400;
		padding: 0;
		}
	}
	&.ui-messages-info {
		color: $color-text;
		background-color: $color-info-lighten;
		border: 1px solid $color-info;
		.ui-messages-icon {
			background-color: $color-info;
		}
		.ui-messages-close {
			color: $color-info;
		}
	}
	&.ui-messages-warn {
		color: $color-text;
		background-color: $color-warning-lighten;
		border: 1px solid $color-warning;
		.ui-messages-icon {
			background-color: $color-warning;
			&.fa-info-circle:before {
				content: "\F071";
			}
		}
		.ui-messages-close {
			color: $color-warning;
		}
	}
	&.ui-messages-error {
		color: $color-text;
		background-color: $color-error-lighten;
		border: 1px solid $color-error;
		.ui-messages-icon {
			background-color: $color-error;
			&.fa-info-circle:before {
				content: "\F071";
			}
		}
		.ui-messages-close {
			color: $color-error;
		}
	}
}
