// ------------------------
// UI Styleguide Name: CUR
// Version: 1.0
// ------------------------
// Mixins
// ------------------------


// Reset
@mixin GeneralReset() {
	padding: 0;
	margin: 0;
	border: 0;
	box-shadow: none;
}

// Body Text
 @mixin BodyText() {
	font-weight: normal;
	font-size: 13px;
	line-height: 1.4em;
}

@mixin BluishShadow() {
	-webkit-box-shadow: 0px 2px 10px 0px rgba(26,80,158,0.4);
	   -moz-box-shadow: 0px 2px 10px 0px rgba(26,80,158,0.4);
				  box-shadow: 0px 2px 10px 0px rgba(26,80,158,0.4);
}

// Display as circle
// ------------------------
@mixin DisplayCircle() {
	-webkit-border-radius: 50%;
					border-radius: 50%;
}

// Flexbox
@mixin FlexContainer() {
	display: flex;
}

@mixin Flex($flex-item-size: 1) {
	flex: $flex-item-size;
}

@mixin AlignItems($align-items-pos: center) {
	align-items: $align-items-pos;
}

@mixin JustifyContent($justify-content-dir: space-between) {
	justify-content: $justify-content-dir;
}

@mixin FlexString() {
	padding: 0 $padding-sm;
}

// Fonts
// ------------------------
@mixin FontAwesomeToCuraPrax() {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'cp-iconfont-2016-03-01' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin CuraPraxFont() {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'cp-iconfont-2016-03-01' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	/*line-height: 1;*/

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Shadows
// ------------------------
@mixin LightShadow() {
-webkit-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.15);
	 -moz-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.15);
				box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.15);
}

@mixin FlyoutShadow() {
	-webkit-box-shadow: 0px 3px 3px 0px rgba(128, 128, 127, 0.6);
			box-shadow: 0px 3px 3px 0px rgba(128, 128, 127, 0.6);
}