p-dialog {
  .ui-dialog {
    .ui-dialog-titlebar {
      height: 45px;
      padding: 14px;
      border-bottom: 1px solid $color-info-lighten;
      color: $color-link;
      span {
        margin: 0;
      }

      .ui-dialog-titlebar-icon {
        width: 45px;
        height: 44px;
        position: absolute;
        margin-top: 0;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        flex-direction: row;

        :hover {
            text-decoration: none;
        }

        &.ui-state-hover {
          background-color: $color-info-lighten;
          border-color: $color-info-lighten;
          color: $color-active;
        }
        span {
          margin: 0 auto;
        }
      }
        a.ui-dialog-titlebar-icon:hover {
            text-decoration: none;
        }
    }
 /*   .ui-state-hover {
      background-color: $color-active;
  		border-color: $color-active;
      color: $color-white;
    }*/
  }
}

p-dialog.user-settings{
  input, .ui-dropdown{
    max-width: 300px;
    min-width: 300px;
  }

  .inline-dropdown>.ui-dropdown, .inline-dropdown .ui-dropdown-items-wrapper{
    display: inline-block;
    max-width: 140px;
    min-width: 140px;
  }

  .ui-tabview-panel.ui-widget-content{
    min-height: 550px;
  }
}

