// ------------------------
// UI Styleguide Name: CUR
// Version: 1.0
// ------------------------
// Dropdown
// ------------------------


// Variables
// ------------------------

// Resets
// ------------------------
.ui-multiselect {
	padding-right: $padding-md;

	&.ui-state-focus {
		border: 1px solid $color-focus;
	}

	background-color: $color-white;

	.fa-check {
		color: black;
	}
}

.ui-multiselect .ui-multiselect-trigger .fa {
	width: 8px;
	margin-top: $margin-sm;
}

// General
// ------------------------
p-multiselect {
	&.inline-dropdown{
		display: inline-block;
		max-width: 100px;
	}
  width: 100%;
  max-width: 277px;
}
.ui-multiselect {
	border: 1px solid $color-separator;
  width: 100% !important; // overrides inline styles
	max-width: 277px;

	.ui-multiselect-panel {
		.ui-multiselect-item {
			white-space: normal;
		}
	}
}

.ui-multiselect-items-wrapper {
	background: $color-white;
	min-width: ($input-width / 2);
	width: auto;
}

.ui-multiselect.ui-state-disabled {
	background: $color-disabled;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	background: $color-profile-settings-submenu;
	color: $color-white;
}

.ui-state-focus,
.ui-state-hover,
.ui-widget-header .ui-state-focus,
.ui-widget-header .ui-state-hover {
	background: $color-info-lighten;
	color: $color-dark;
}

.ui-multiselect label.ui-multiselect-label {
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui-multiselect-label-container {
	white-space: nowrap;
}

.mostfrequentlyusedentries-dropdown-3 {
	ul {
		li:nth-child(3) {
			border-bottom: 1px solid $color-border-light;
		}
	}
}

.mostfrequentlyusedentries-dropdown-5 {
	ul {
		li:nth-child(5) {
			border-bottom: 1px solid $color-border-light;
		}
	}
}
