.navigation-bar {
	.ui-menu {
		.ui-submenu-icon {
			display: none;
		}
	}

	#logo {
		float: left;
		line-height: 60px;
		color: #fff;
		padding: 0 15px;
		width: 130px;
		height: 60px;
		background: url(./logo.png);
		background-repeat: no-repeat;

		h2, a {
			font-family: "Ubuntu Condensed",sans-serif;
			font-size: 18px;
			font-weight: 300;
			line-height: 60px;
			margin: 0;
			color: #fff;
			text-decoration: none;
			visibility: hidden;
		}
	}
}
