.ui-growl.ui-widget {
  .ui-corner-all {
    border-radius: 0;
  }
  .ui-growl-item-container {
    opacity: 1;
    min-height: 60px;
  }
  .ui-growl-message-info, .ui-growl-message-warn, .ui-growl-message-error {
    .ui-growl-item {
      display: flex;
      padding: 0;
      min-height: 60px;
      .ui-growl-icon-close {
        right: 5px;
      }
      .ui-growl-image {
        color: $color-white;
        background-color: $color-info;
        margin: 0;
        width: 60px;
        position: relative;
        min-height: 60px;
        &.fa-info-circle:before,
        &.fa-warning:before,
        &.fa-close:before {
          transform: translateX(-50%) translateY(-50%);
          top: 50%;
          left: 50%;
          position: absolute;
        }
      }
      .ui-growl-message {
        padding: 10px;
        line-height: 1;
        font-weight: 400;
        p {
          font-weight: 400;
          line-height: 1;
        }
      }
    }
  }
  .ui-growl-message-info {
    border: 1px solid $color-info;
  }
  .ui-growl-message-warn {
    border: 1px solid $color-warning;
  }
  .ui-growl-message-error {
    border: 1px solid $color-error;
  }
  .ui-growl-message-info {
    .ui-growl-item {
      color: $color-text;
      background-color: $color-info-lighten;
      border: $color-info;
      .ui-growl-icon-close {
        color: $color-info;
      }
      .ui-growl-image {
        background-color: $color-info;
        &.fa-info-circle:before {
          content: "\F05A";
        }
      }
    }
  }
  .ui-growl-message-warn {
    .ui-growl-item {
      color: $color-text;
      background-color: $color-warning-lighten;
      border: $color-warning;
      .ui-growl-icon-close {
        color: $color-warning;
      }
      .ui-growl-image {
        background-color: $color-warning;
        &.fa-warning:before {
          content: "\F071";
        }
      }
    }
  }
  .ui-growl-message-error {
    .ui-growl-item {
      color: $color-text;
      background-color: $color-error-lighten;
      border: $color-error;
      .ui-growl-icon-close {
        color: $color-error;
      }
      .ui-growl-image {
        background-color: $color-error;
        &.fa-close:before {
          content: "\F071";
        }
      }
    }
  }
}

.ui-growl {
  position: fixed;
  top: 136px;
  right: 10px;
  font-weight: 400;
}
.ui-growl-title {
  font-weight: 400;
}
