.ui-paginator {
  .ui-paginator-last, .ui-paginator-first {
    display: none;
  }
  .ui-paginator-prev {
    margin: 0;
    margin-right: -4px;
    .fa-backward:before {
      content: "\f0d9" !important;
      font-size: 16px;
    }
    &.ui-state-disabled {
      color: $color-paginator-text-disabled;
    }
  }
  .ui-paginator-next {
    margin: 0;
    margin-left: -4px;
    .fa-forward:before {
      content: "\f0da" !important;
      font-size: 16px;
    }
    &.ui-state-disabled {
      color: $color-paginator-text-disabled;
    }
  }
  .ui-paginator-pages {
    padding: 5px 0 0 0;
    margin: 0;
  }
  .ui-paginator-element {
    padding: .3em 1em;
    border: 1px solid $color-paginator-border;
  }
  .ui-paginator-page {
    background-color: $color-white;
    border: 1px solid $color-paginator-border;
    color: #14130e;
    margin: 0;
    &.ui-state-active {
      background-color: $color-brand;
      border: 1px solid $color-brand;
      color: #FFFFFF;
    }
    &.ui-state-active:hover {
      background-color: $color-focus;
      border: 1px solid $color-focus;
    }
  }
  .ui-paginator-rpp-options {
    position: relative;
    top: 4px;
    float: right;
  }
}
.totalResults {
  position: absolute;
  transform: translateY(-25px);
}
.resultsPerPage {
  position: absolute;
  transform: translate(-90px,-25px);
  right: 0;
}
// Responsive styles
//
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  .ui-datatable {
    .ui-paginator {
      span {
        width: 38px;
        height: 38px;
        .fa {
          position: relative;
          right: 14px;
          top: 6px;
        }
      }
      .ui-paginator-pages {
        width: auto;
        span {
          display: table-cell;
          vertical-align: middle;
        }
      }
      .ui-paginator-prev, .ui-paginator-next {
        height: 39px;
        transform: translateY(-20px);
      }
    }
  }
  .totalResults, .resultsPerPage {
    position: absolute;
    transform: translateY(-57px);
  }
  .resultsPerPage {
    transform: translate(-90px, -57px);
  }
}
