// ------------------------
// UI Library Name: CUR
// Version: 1.0
// ------------------------
// Create Patient
// ------------------------

// Overrides (of Bootstrap)
// ------------------------
.patients-content, .patient-overview {
  .create-patient.container-fluid {
    .row.space_below {
      display: flex;
      div[class^="col-"]:not(.ui-error) {
        display: flex;
      }
      div.col-sm-8 {
        flex-direction: column;
        align-items: flex-start;
      }
      input {
        width: 100%;
        // max-width: 277px;
        // min-width: 277px;
      }
    }
  }

  .form-row>div:nth-child(1){
    min-width: 220px;
    max-width: 220px;
  }
  .form-row>div:nth-child(2){
    min-width: 400px;
    max-width: 400px;
  }
}
