// ------------------------
// UI Library Name: CUR
// Version: 1.0
// ------------------------
// Patient Overview
// ------------------------

// Variables
// ------------------------
$cur-header-h: 60px;

// Styling
// ------------------------
.patient-overview {
  overflow: auto;
  // height: calc(100vh - #{$cur-header-h});
  background-color: $color-white;
  padding-bottom: 50px;
}

