// ------------------------
// UI Library Name: CUR
// Version: 1.0
// ------------------------
// Patient Sidebar
// ------------------------
// Variables
// ------------------------

$cur-margin-md: 20px;
$patient-avatar-dimensions: 66px;
$sidebar-width: 350px;
// Resets (of Bootstrap)
// ------------------------

.patient-sidebar.container-fluid {
    @include NoGutter();
    background-color: $color-white;
}
// Styling
// ------------------------
// Patient detail header
#patient-detail-header {
    display: block;
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: $color-brand;
    background: #EFEFED;
    border-bottom: 1px solid #D1D2CE;
    height: $top-subnavigation-bar-height;

    #patient-detail-info {
        display: flex;
        height: 100%;

        & > i {
            float: left;
            padding: 23px 25px;
            height: $top-subnavigation-bar-height;
            width: 60px;
            background: #F9F9F8;
            border-right: 1px solid #D1D2CE;
            transition: all 0.5s;
        }

        h3 {
            align-self: center;
            margin: 0 0 0 20px;
        }
    }
}
// The sidebar contents
.patient-details {
    background: $patient-sidebar-background;
    padding: $cur-padding-md $cur-padding-md $cur-padding-lg;
    border-right: none;
    // Patient avatar
    .avatar {
        display: block;
        width: $patient-avatar-dimensions;
        height: $patient-avatar-dimensions;
        background-color: $color-separator;
        border-radius: 50%;
        font-size: 30px;
        line-height: $patient-avatar-dimensions;
        text-align: center;
        color: $color-white;
    }
    // Patient name
    .patient-name {
        font-size: 17px;
        font-weight: 400;
    }
    // Patient data
    .patient-data {
        line-height: 18px;
    }
    // Accordion
    .ui-accordion .ui-accordion-header {
        background-color: $acc-header-background;
        border-top: 1px solid $color-separator;
        margin-left: -$cur-margin-md;
        margin-right: -$cur-margin-md;
        padding: 0 $cur-padding-md;
    }

    .ui-accordion .ui-accordion-content {
        padding-left: 0;
        padding-right: 0;

        label {
            word-break: normal;
        }
    }

    .read-only-view {
        align-items: baseline;
    }
}
// The patient contents
.patients-content {
    padding-bottom: $cur-padding-lg;
    vertical-align: top;
}
// responsive sidebar
.patient-sidebar {
    border-right: 1px solid $color-separator;
    background-color: $color-body-background;
    width: $sidebar-width;
    height: #{calc(100vh - #{$content-under-subnavigation})};
    vertical-align: top;

    #sidebar {
        width: $sidebar-width;
    }
}

.patient-detail-content {
    background-color: $color-white;
    width: calc(100% - #{$sidebar-width});
    vertical-align: top;
}

.top-subnavigation-bar {
    position: fixed;
    top: $top-bar-height;
    left: 0;
    right: 0;
    min-width: $screen-md;
    z-index: 90;
}

div.leportal.notInIframe {
    .scrollarea-patientdetails {
        margin-top: $top-bar-height;
    }
}

div.leportal.insideIframe {
    .patient-sidebar {
        display: none;
    }
}
@media only screen and (max-width : $screen-tablet-max) {
    .patient-details {
        border-right: 1px solid $color-separator;
    }

    .patient-detail-content {
        width: 100%;
    }

    .patient-sidebar {
        #sidebar {
            position: fixed;
            left: 0;
            top: ($top-bar-height + $top-subnavigation-bar-height);
            height: #{calc(100vh - #{$content-under-subnavigation})};
            overflow-y: auto;
            width: $sidebar-width;
            z-index: 99;
            transition: all 0.5s;
            transition-timing-function: ease-in-out;
            transform: translateX(-$sidebar-width);
        }

        #sidebar.active {
            transform: translateX(0);
        }

        #patient-detail-info i.sidebar-active {
            box-sizing: border-box;
            border-bottom: 1px solid $color-separator;
            height: 60px !important;
        }
    }
}