// ------------------------
// UI Library Name: CUR
// Version: 1.0
// ------------------------
// Patient Details Form
// ------------------------

// Overrides (of Bootstrap)
// ------------------------
.patient-details-form.container-fluid {
  .row.space_below {
    height: 30px;
    display: flex;
    div[class^="col-"]:not(.ui-error) {
      display: flex;
      align-items: center;
    }
    div:nth-child(2) {
      margin-left: 2px;
    }
  }
}
