p-datatable#ordersTable tr > td:last-child {
    vertical-align: middle;
}

#noteContent {
  min-width: inherit;
}

.order-id {
  word-wrap: break-word;
}

.order-detail-col-1 .row .col-xs-4{
  padding-left: 2px;
}

.order-detail-col-1, .order-detail-col-2{
  max-width: 500px;
}

.order-action-box{
  margin: 15px 0;
  border:1px solid;
  border-color: $color-info;
  padding:10px;
}
