.profile-settings {
	width: 250px;
	display: inline-block;
    margin-left: 2px;

	.user-name {
		// max-height: ($top-bar-height - 5);
		// width: 85px;
		max-height: $top-bar-height;
		// max-width: (250 - 60);
	}
	.ui-menuitem-text {
		display: inline-block;
		width: 170px;
		overflow: hidden;
		white-space: nowrap;
		// word-break: break-all;
		text-overflow: ellipsis;
	}

  .ui-menu.ui-megamenu {
    width: 100%;

    .ui-megamenu-panel .ui-menu-list,
    .ui-menuitem {
      width: 100%;
    }

    // Menu Item Link: First level (looks same like the one in the second level)
    .ui-menuitem-link {
      background-color: $color-profile-settings;
      color: $color-profile-settings-text;
      font-weight: normal;
      text-transform: none;
      padding: 0 $padding-md;
      width: 100%;

      @include FlexContainer();
      @include AlignItems(center);
    }

    .root-menu-link{
      cursor: default;
    }

    .root-menu-link:hover {
      background-color: $color-profile-settings; // stays the same in this case
      color: $color-profile-settings-text; // stays the same in this case
    }
    // When item link is hovered it gets this class:
    .ui-menuitem-active {
      .ui-menuitem-link {
        background-color: $color-profile-settings; // stays the same in this case
        color: $color-profile-settings-text; // stays the same in this case
      }
    }

    // Carret
    .ui-submenu-icon {
      position: absolute;
      right: 12px;
      top: 0px;
    }

    // Submenu
    .ui-menu-parent .ui-menu-child {
      width: 100%;
      padding: 0;
      background-color: $color-profile-settings-submenu;

      // Menu Item: Second level
      .ui-menuitem {
        height: auto;
        width: 100%;

        &.active {
          .ui-menuitem-link {
            background-color: $color-profile-settings-submenu;
            border-left: 3px solid $color-separator;
            color: $color-profile-settings-text;
          }
        }
      }

      // Menu Item Link: Second level
      .ui-menuitem-link {
        width: 100%;
        padding: 9px $padding-lg $padding-md $padding-lg;
        color: $color-profile-settings-text;
        border-left: 3px inset transparent;
        line-height: 2em;
        text-transform: none;
        border-top: 1px solid $color-separator;

        &:hover {
          background-color: $color-profile-settings-submenu-hover;
        }
      }

      // When item link is hovered it gets this class:
      .ui-menuitem-active {
        .ui-menuitem-link {
          background-color: $color-profile-settings-submenu-hover;
          color:  $color-profile-settings-text;
        }
      }
    }
  }
}

.ui-menu.ui-megamenu .avatar {
	width: 33px;
	height: 33px;
    line-height: 33px;
	background-color: $color-separator;
	margin-right: $margin-md;
	border-radius: 50%;
	text-align: center;
}

.profile-settings-container{
  display: inline-flex;
}

.general-communications-settings{
  .settings-row-1,
  .settings-row-2,
  .settings-row-3,
  .settings-row-4{
    float: left;
    width: 150px;

  }

  .settings-row-1{
    width: 170px;
  }

  label{
    line-height: 28px;
  }

  label.ui-dropdown-label{
    line-height: 18px;
  }
}




//@media (max-width: 1200px) {
//  .profile-settings {
//      width: 200px;
//  }
//}


