// ------------------------
// UI Styleguide Name: CUR
// Version: 1.0
// ------------------------
// Radio Buttons
// ------------------------

// Variables
// ------------------------
$radios-w-outer: 18px;
$radios-w-inner: 10px;

// Resets
// ------------------------
.ui-radiobutton {
	margin: 0;
	display: inline-block;

	.ui-radiobutton-box {
		width: 16px;
		height: 16px;
		line-height: 16px;
		position: absolute;
	}

	.fa-circle:before { // Override the circle icon from Font Awesome
 		content: "";
	}

	.ui-radiobutton-icon.fa-fw {
		margin: 0;
	}
}

// Styling
// ------------------------
.ui-radiobutton {
	border: 1px solid $color-separator;
	@include DisplayCircle();
	width: $radios-w-outer;
	height: $radios-w-outer;
	text-align: center;
}

.ui-radiobutton-icon.fa-fw {
	@include DisplayCircle();
	width: $radios-w-inner;
	height: $radios-w-inner;
	display: inline-block;
	background: $color-dark;
}

.radiobutton-wrap {
	label {
		width: auto;
		padding: 0 0 0 $padding-sm;
	}
}