// ------------------------
// UI Styleguide Name: CUR
// Version: 1.0
// ------------------------
// SubHeader
// ------------------------

.sub-header {
  display: flex;
  align-items: center;
  background-color: #EFEFED;
  border-bottom: 1px solid $color-separator;
  height: 60px;
  margin: 0 -15px 15px -15px;

  h1 {
    //font-family: Ubuntu, sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: $color-active;
    margin: 0;
    padding: 0 15px;
    text-transform: capitalize;
  }
}
