.table-menu {
	&.ui-menu {
		height: auto;
		width: auto;
		background-color: inherit;
		border: 1px solid;
		cursor: pointer;

		.ui-menuitem {
			height: 30px;
			padding: 4px;
		}
	}
}

.displayNone {
	display:none !important;
}
