// ------------------------
// UI Styleguide Name: CUR
// Version: 1.0
// ------------------------
// Table
// ------------------------

// Variables
// ------------------------

// Resets
// ------------------------
.ui-datatable thead th {
    position: relative;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid $color-separator;
	border-left: 1px solid $color-separator;
	font-weight: 500;
	padding: $padding-md;
	text-align: left;
	vertical-align: top;
	text-align: left;
  span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.ui-datatable tbody td {
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
	border-left: 1px solid $color-separator;
	font-weight: 400;
	padding: $padding-md;
	text-align: left;
	vertical-align: top;
}

.ui-datatable .ui-sortable-column-icon {
	color: $icon-default-state-color;
	margin: 0;
}

.ui-state-hover .ui-sortable-column-icon {
	color: $color-text;
}

.ui-state-active .ui-sortable-column-icon {
	color: $color-text;
}

// Styling
// ------------------------
.ui-datatable {
	width: 100%;
	line-height: 16px;
	border-collapse: collapse;
	border-spacing: 0;
	color: $color-text;
	text-align: left;
	font-size: 13px;

	// Header row
	thead th:first-child {
		border-left: 0;
	}

	// Even row
	tr.ui-datatable-even {
		background-color: $even-row-background;

		td:first-child {
			border-left: 0;
		}
	}

	// Odd row
	tr.ui-datatable-odd {
		background-color: $odd-row-background;

		td:first-child {
			border-left: 0;
		}
	}

  .ui-cell-data {
    // word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    span.ui-cell-data {
      display: inline;
    }
  }
}

// Highlight of a row
.ui-datatable tr.ui-state-highlight {
	color: inherit;
}

.ui-datatable tr.ui-state-hover {
  color: inherit;
  background-color: $row-highlighted;
}

// Shortening column titles
.ui-datatable .ui-column-title {
	display: inline-block;
	overflow: hidden;
	width: 77%;
}

// Sorting icons
.ui-datatable .ui-sortable-column-icon {
	position: absolute;
	right: $padding-md;
	top: $padding-md;
}

// Table button (Actions)
.ui-datatable-button {
  margin: 0px;
  height: 27px;
  width: 33px;
  padding: 1px 0;
  &.btn-secondary .fa {
    font-family: 'FontAwesome' !important;
  }
  span.circle {
    height: 4px;
    width: 4px;
    color: $color-border-light;
    border-radius: 50%;
    display: inline-block;
    background-color: $color-border-dark;
  }
}
.ui-paginator-bottom {
  margin-top: 10px;
}

// Specific tables and columns
// ------------------------
.columnStyle-widget-MyOrders-patient,
.columnStyle-ordersearchargument-patient {
    width: 180px;
    display: table-cell;
}
.columnStyle-widget-MostRecentlyViewedPatients-patient {
    width: 200px;
    display: table-cell;
}
.columnStyle-widget-MostRecentlyViewedPatients-address {
    width: 300px;
    display: table-cell;
}

.columnStyle-widget-MyOrders-orderType,
.columnStyle-ordersearchargument-orderType {
    width: 100px;
    display: table-cell;
}
.columnStyle-widget-MyOrders-urgency,
.columnStyle-ordersearchargument-urgency {
    width: 60px;
    display: table-cell;
}
.columnStyle-widget-MyOrders-status,
.columnStyle-ordersearchargument-status {
    width: 60px;
    display: table-cell;
}
.columnStyle-widget-MyOrders-orderDate,
.columnStyle-widget-MyOrders-dueDate,
.columnStyle-ordersearchargument-creationDate,
.columnStyle-ordersearchargument-dueDate {
    width: 100px;
    display: table-cell;
}
.columnStyle-patient-lastName {
    width: 100px;
    display: table-cell;
}
.columnStyle-patient-firstName {
    width: 100px;
    display: table-cell;
}
.columnStyle-patient-gender {
    width: 60px;
    display: table-cell;
}
.columnStyle-patient-birthDate {
    width: 60px;
    display: table-cell;
}
.columnStyle-patient-address {
    width: 100px;
    display: table-cell;
}
.columnStyle-patient-postalCode {
    width: 60px;
    display: table-cell;
}
.columnStyle-patient-city {
    width: 70px;
    display: table-cell;
}
.columnStyle-patient-ahvNumber {
    width: 60px;
    display: table-cell;
}

.columnStyle-ordersearchargument-referrer {
    width: 100px;
    display: table-cell;
}

.columnStyle-ordersearchargument-healthProfessional {
    width: 120px;
    display: table-cell;
}

.columnStyle-documentmetadata-documentName {
    width: 100px;
    display: table-cell;
}
.columnStyle-documentmetadata-classCode {
    width: 60px;
    display: table-cell;
}
.columnStyle-documentmetadata-typeCode {
    width: 80px;
    display: table-cell;
}
.columnStyle-documentmetadata-practiceSettingCode {
    width: 60px;
    display: table-cell;
}
.columnStyle-documentmetadata-author {
    width: 80px;
    display: table-cell;
}
.columnStyle-documentmetadata-authorInstitution {
    width: 60px;
    display: table-cell;
}
.columnStyle-documentmetadata-creationTime {
    width: 50px;
    display: table-cell;
}

.columnStyle-register-documentName {
    width: 200px;
    display: table-cell;
}
.columnStyle-register-documentAuthor {
    width: 200px;
    display: table-cell;
}
.columnStyle-register-creationDate {
    width: 120px;
    display: table-cell;
}

.mpi-compare-table{

  .mpi-data-field{
    color: $color-ok;
  }
}
