// ------------------------
// UI Library Name: CUR
// Version: 1.0
// ------------------------
// PrimeNG Tabs
// ------------------------

// Variables
// ------------------------
$tabs-h: 42px;
$tabs-tb-padding: 8px;
$padding-md: 15px;

// Overrides (of PrimeNG)
// ------------------------
.ui-tabview {
  padding: 0 0 15px 0;
}

// The tabview nav strip
.ui-tabview.ui-tabview-top > .ui-tabview-nav {
		padding: 0;
		height: $tabs-h;
		border-bottom: 1px solid $color-separator;

        li:hover {
            background-color: $color-section-header;
        }
}

// The tabview li-s
.ui-tabview.ui-tabview-top > .ui-tabview-nav li {
	@include GeneralReset();
	line-height: $tabs-h;
	padding: $tabs-tb-padding $padding-md;
	border-bottom: 3px solid transparent;

	 a {
		color: $color-active;
		font-weight: 500;
		font-size: 14px;
		padding: 0;
		line-height: 23px;
    outline: 0;
	}

	// Hover state
	&.ui-state-hover {
		cursor: pointer;

		a {
			color: $color-active;
		}
	}

	// Underline the active tab
	&.ui-state-active {
		border-bottom: 3px solid $color-active;

		a {
			color: $color-active;
      outline: 0;
		}
	}
}

// Panels under the tab strip
.ui-tabview .ui-tabview-panel {
	// padding: $padding-tb-txt $padding-md;
    padding: 0px;
}
