// ------------------------
// UI Styleguide Name: CUR
// Version: 1.0
// ------------------------
// Tooltip
// ------------------------

// Variables
// ------------------------
$tooltip-max-w: 300px;

// Styling
// ------------------------
// If the tooltip is in input-wrap
.tooltip-wrap {
    width: 150px;
    padding-right: $padding-sm;

    label {
        padding-right: $padding-xs;
    }
}

// Tooltip
.tooltip {
    position: relative;

    &:hover {
        cursor: pointer;
    }
}

// Tooltip text
.tooltiptext {
    visibility: hidden;
    min-width: $tooltip-max-w - 100px;
    width: auto;
    max-width: $tooltip-max-w;
    background-color: $color-text;
    color: $color-white;
    text-align: left;
    padding: $padding-sm;
    opacity: 0;
    transition: opacity 1s ease 0s;
    -webkit-border-radius: 3px;
            border-radius: 3px;

    // Position the tooltip
    position: absolute;
    margin-left: $margin-sm;
    margin-top: $margin-md;
    z-index: 1;
}

// Show tooltip text on hover
.tooltip:hover + .tooltiptext {
    visibility: visible;
    opacity: 1;
}