.top-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	// min-width: $min-layout-width;
	// Fix for keeping the settings menu in the top bar navigation accassible on narrow screens.
	// This will break for windows < 440px wide!
	min-width: 660px;
	z-index: 100;

	background-color: $color-brand;
	height: $top-bar-height;
	@include FlexContainer();
	@include JustifyContent();
}
