// ------------------------
// UI Styleguide Name: CUR
// Version: 1.0
// ------------------------
// Typography
// ------------------------

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);

$body-font-size: 13px;

$margin-sm: 6px;
$margin-md: $margin-sm * 2;

body {
	font-family: Ubuntu, sans-serif;
	font-weight: 400;
	font-size: $body-font-size;
	line-height: 18px;
	color: $color-text;
}

h1, h2, h3 {
	margin: 0 0 $margin-md 0;
}

h3 {
	font-size: 15px;
	font-weight: 500;
}

h2 {
	font-size: 17px;
	font-weight: 500;
}

h1 {
	font-size: 19px;
	font-weight: 500;
}

h5 {
	margin: 0 0 $margin-sm 0;
}

a {
	color: $color-link;
}

p {
	line-height: 22px;
}