.ui-menu.ui-megamenu {
	@include GeneralReset();

	*, .ui-menu .ui-menuitem {
		@include GeneralReset();
	}

	background-color: $color-brand;
	height: $top-bar-height;
	display: inline-block;

	.ui-menuitem {
		padding: 0;
		margin: 0;
		height: $top-bar-height;

		&.active {
			.ui-menuitem-link {
				background-color: $color-active;
				color: $color-white;
			}
		}
	}

	.ui-submenu-icon {
		line-height: $top-bar-height;
	}

	// Menu Item Link
	.ui-menuitem-link {
		color: $color-white;
		border: 0;
		font-weight: 500;
		font-size: 13px;
		line-height: $top-bar-height;
		text-transform: uppercase;
		margin-right: 1px;
		padding: 0 $padding-lg;

		&:hover {
			background-color: $color-white;
			color: $color-brand;
		}
	}

	// When Submenu is visible
	.ui-menuitem-active {
		.ui-menuitem-link {
			background-color: $color-white;
			color: $color-brand;
		}
	}

	// Sub Menu
	.ui-menu-parent .ui-menu-child {
		padding: 0;
		background-color: $color-white;
        -webkit-box-shadow: 0px 3px 3px 0px rgba(128, 128, 127, 0.6);
        box-shadow: 0px 3px 3px 0px rgba(128, 128, 127, 0.6);


		.ui-menuitem-link {
			width: 100%;
			padding: 9px $padding-lg $padding-md $padding-lg;
			color: $color-brand;
			border-left: 3px inset transparent;
			line-height: 2em;
			text-transform: none;
			border-top: 1px solid $color-separator;

			&:hover {
				background-color: $color-info-lighten;
			}
		}

		.ui-menuitem {
			height: auto;

			&.active {
				.ui-menuitem-link {
						background-color: $color-white;
						border-left: 3px solid $color-brand;
						color: $color-brand;
					}
				}
		}
	}
}