// ------------------------
// UI Styleguide Name: CUR
// Version: 1.0
// ------------------------
// Megamenu
// ------------------------

// Variables
// ------------------------
$child-menu-w: 200px;

// Resets
// ------------------------
.ui-menu.ui-megamenu {
  @include GeneralReset();

  *, .ui-menu .ui-menuitem {
    @include GeneralReset();
  }

  .ui-menuitem-text {
    float: none;
  }
}

// Styling
// ------------------------
.ui-menu.ui-megamenu {
	background-color: $color-brand;
	height: $top-bar-height;
	display: inline-block;

	.ui-menuitem {
		padding: 0;
		margin: 0;
		height: $top-bar-height;

		&.active {
				background-color: $color-active;
				color: $color-white;
			}
		}

	.ui-submenu-icon {
		line-height: $top-bar-height;
	}

	// Menu Item Link: First level
	.ui-menuitem-link {
		color: $color-white;
		border: 0;
		font-weight: 500;
		font-size: 13px;
		line-height: $top-bar-height;
		text-transform: uppercase;
		margin-right: 1px;
		padding: 0 $padding-lg;


		&:hover {
			background-color: $color-hover;
		}
	}

    // Icon next to the text
	.cp-icon.ui-menuitem-text {
		padding-right: $padding-sm;
	}

  // When item link is hovered it gets this class:
	.ui-menuitem-active {
			background-color: $color-hover;
	}

	// Submenu
	.ui-menu-parent .ui-menu-child {
      padding: 0;
      background-color: $color-white;
      width: auto;
      min-width: $child-menu-w;
      @include FlyoutShadow;

      // Menu Item: Second level
      .ui-menuitem {
        min-width: $child-menu-w;
        height: auto;

        &.active {
          .ui-menuitem-link {
            background-color: $color-white;
            border-left: 3px solid $color-brand;
            color: $color-brand;
          }
        }
      }

      // Menu Item Link: Second level
      .ui-menuitem-link {
          width: 100%;
          padding: 9px $padding-lg $padding-md $padding-lg;
          color: $color-brand;
          border-left: 3px inset transparent;
          line-height: 2em;
          text-transform: none;
          border-top: 1px solid $color-separator;

          &:hover {
              background-color: $color-info-lighten;
            }
        }

	}
}
