.input-file-select {
  visibility: hidden;
  position: absolute;
}

.a-file-select {
  cursor: pointer;
}

.progress {
  height: 20px;
  overflow: hidden;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.progress-bar {
  float: left;
  height: 100%;
  background-color: $color-brand;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);

}

.file-drop {
  border: 2px dashed $color-border-light;
  height: 50px;
  width: 100%;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.file-drop-container{
  height: 85px;
}

.upload-icon {
  line-height: 30px;
  width: 25px;
  float: left;
  margin-left: 10px;
  font-size: 18px;
  display: inline-block;
}

#file_name_label {
  i.fa-check-circle {
    color: $color-ok;
  }
  span {
    margin: 0 10px 0 0;
  }
  i.fa-times-circle {
    color: $color-danger;
    cursor: pointer;
  }
}

#upload-document {
  .first-lvl-title {
    text-transform: capitalize;
  }
}

#uploadDocumentModal {
  .ui-dialog-title {
    text-transform: capitalize;
  }
  .ui-dialog-titlebar-close.ui-state-hover {
    background-color: $color-info-lighten;
    color: $color-brand !important;
    text-decoration: none !important;
  }
}
