// ------------------------
// UI Styleguide Name: CUR
// Version: 1.0
// ------------------------
// Validation Messages
// ------------------------

// Variables
// ------------------------

// Styling
// ------------------------
.ui-error {
  margin-top: $margin-xs;
  margin-left: 5px;
  color: $color-error;
}

.ui-error-field,
input[type="text"].ui-error-field,
textarea.ui-error-field,
.ui-error-field .ui-dropdown {
  border-color: $color-error;
}
