// ------------------------
// UI Styleguide Name: CUR
// Version: 1.0
// ------------------------
// Variables
// ------------------------

// COPIED from Bootstrap's config.json
$grid-gutter-width: 30px;

// Layout
$top-bar-height: 60px;
$top-subnavigation-bar-height: 60px;
$content-under-subnavigation: ($top-bar-height + $top-subnavigation-bar-height);
$min-layout-width: 1024px;

// Paddings
$padding-xs: 3px;
$padding-sm: 6px;
$padding-md: $padding-sm * 2;
$padding-md-2: $padding-sm * 3;
$padding-lg: $padding-sm * 4;
$padding-xl: $padding-sm * 8;
$padding-tb-txt: $padding-sm * 3;

// CUR Paddings
$cur-padding-md: 20px;
$cur-padding-lg: 40px;
$cur-padding-xl: 100px;

$cur-padding-gutter: ($grid-gutter-width / 2 );

// Margins
$margin-xs: 3px;
$margin-sm: 6px;
$margin-md: $margin-sm * 2;
$margin-lg: $margin-sm * 4;

// Typography
//$body-font-size: 13px;


// Forms
$label-container-width: 150px;
$input-width: 446px;
$min-input-width: 190px;

// Window widths copied from Bootstrap's config.json
$screen-xs: 480px;
$screen-xs-min: $screen-xs;
$screen-phone: $screen-xs-min;
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-tablet: $screen-sm;

// Original: $screen-md: 992px;
$screen-md: $min-layout-width;

$screen-md-min: $screen-md;
$screen-desktop: $screen-md-min;
// Exception: screen-tablet-max is project specific!
$screen-tablet-max: $screen-md-min;

$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-lg-desktop: $screen-lg-min;
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
