// ------------------------
// UI Library Name: CUR
// Version: 1.0
// ------------------------
// Workflow Overview
// ------------------------

// Styling
// ------------------------
.workflow-overview {
  overflow: auto;
  // height: calc(100vh - #{$top-bar-height});
  background-color: $color-white;
  padding-bottom: $cur-padding-lg;
}
